<li class="section">
    <input type="checkbox" id="{{uniqId}}" checked>
    <label for="{{uniqId}}">
        <div class="name" id="{{uniqDepId}}">
            {{name}}
        </div>
        {{#location}}
        <div class="depinfo">
            Местонахождение:
            <div class="label">
                {{location}}
            </div>
		</div>
        {{/location}}
        {{#isPrintContMsg}}
            <div class="depinfo">
                Контактная информация:
                {{#phone}}
                    <div class="label">
                        <a href="tel:+7{{phone}}" class="no-link">{{phone}}</a>
                    </div>
                {{/phone}}
                {{#email}}
                    <div class="label">
                        <a href="mailto:{{email}}" class="no-link">{{email}}</a>
                    </div>
                {{/email}}
            </div>
        {{/isPrintContMsg}}
    {{#manager}}
		<div>
			<div class="manager">
				{{name}},
			</div>
			<div class="managerjob">
				{{position}}
			</div>
			{{#add_info}}
				<div class="managerjob">
					({{add_info}})
				</div>
			{{/add_info}}
		</div>
        <div class="info">
            {{#location}}
                <div class="label">
                    {{location}}
                </div>
            {{/location}}
            {{#phone}}
                <div class="label">
                    <a href="tel:+7{{phone}}" class="no-link">{{phone}}</a>
                </div>
            {{/phone}}
            {{#email}}
                <div class="label">
                    <a href="mailto:{{email}}" class="no-link">{{email}}</a>
                </div>
            {{/email}}
        </div>
    {{/manager}}
    {{#employees}}
        <div>
            <div class="employee">
                {{name}},
            </div>
            <div class="employeejob">
                {{position}}
            </div>
            {{#add_info}}
                <div class="employeejob">
                    ({{add_info}})
                </div>
            {{/add_info}}
            <div class="info_employee">
                {{#location}}
                    <div class="label">
                        {{location}}
                    </div>
                {{/location}}
                {{#phone}}
                    <div class="label">
                        <a href="tel:+7{{phone}}" class="no-link">{{phone}}</a>
                    </div>
                {{/phone}}
                {{#email}}
                    <div class="label">
                        <a href="mailto:{{email}}" class="no-link">{{email}}</a>
                    </div>
                {{/email}}
            </div>
        </div>
    {{/employees}}
    </label>
    {{#childs}}
        <ul>
            {{{childs}}}
        </ul>
    {{/childs}}
</li>