<li class="section">
    <a id="{{name}}">
        <div class="name">{{name}}</div>
    </a>
    <div class="depinfo">
            {{#location}}
                Местонахождение: 
                <div class="label">
                    {{location}}
                </div>
            {{/location}}
            Контактная информация:
            {{#phone}}
                <div class="label">
                    {{phone}}
                </div>
            {{/phone}}
            {{#email}}
                <div class="label">
                    {{email}}
                </div>
            {{/email}}
    </div>
    {{#manager}}
        <div class="manager">
            {{name}},
        </div>
        <div class="managerjob">
            {{position}}
        </div>
        {{#add_info}}
            <div class="managerjob">
                ({{add_info}})
            </div>
        {{/add_info}}
        <div class="info">
            {{#location}}
                <div class="label">
                    {{location}}
                </div>
            {{/location}}
            {{#phone}}
                <div class="label">
                    {{phone}}
                </div>
            {{/phone}}
            {{#email}}
                <div class="label">
                    {{email}}
                </div>
            {{/email}}
        </div>
    {{/manager}}
    {{#employees}}
        <div class="employee">
            {{name}},
        </div>
        <div class="employeejob">
            {{position}}
        </div>
        {{#add_info}}
            <div class="employeejob">
                ({{add_info}})
            </div>
        {{/add_info}}
        <div class="info">
            {{#location}}
                <div class="label">
                    {{location}}
                </div>
            {{/location}}
            {{#phone}}
                <div class="label">
                    {{phone}}
                </div>
            {{/phone}}
            {{#email}}
                <div class="label">
                    {{email}}
                </div>
            {{/email}}
        </div>
    {{/employees}}
</li>