<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="tree.css">
    </head>
    <body>
        <ul class="tree">
            {{#data}}
                {{{.}}}
            {{/data}}
        </ul>
    </body>
</html>